html,body{
    background-image: url('../asset/LoginBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
    .container{
    height: 100%;
    align-content: center;
    }
    

.logo_restoo {
    display: flex;
    width: 165px;
    margin-top: -35px;
    margin-bottom: -35px;
}

.card-header {
    justify-content: center;
    display: flex;
}

.card-body {
    display: grid;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 500px;
height: 695px;
background-color: rgba(0,0,0,0.5) !important;
backdrop-filter: blur(15px);
}

.card-footer {
    height: 60px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.genders {
    display: flex;
    width: 89%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="radio"] {
    display: flex;
    margin: 8px 5px;
}

.homme {
    display: flex;
    margin: auto;
}

.femme {
    display: flex;
    margin: auto;
}

.others {
    display: flex;
    margin: auto;
}

.login_btn{
    color: white;
    background: linear-gradient(90deg, rgb(255, 195, 18, 1) 55%, #ff4d12) !important;
    width: 100px;
}

.login_btn:hover{
    color: white;
    font-weight: bold;
    background-image: linear-gradient(90deg, rgb(255, 195, 18, 1) 15%, #ff4d12) !important;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.identifiants-login {
    display: flex;
}
.alert {
    height: 20px;
    background-color: grey;
    color: red;
}